/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
/* Ionic Variables and Theming */
:root {
  --ion-color-primary: #3880ff;
  --ion-background-color: #ffffff;
  --ion-text-color: #000000;
  --ion-item-background: #ffffff;
  --ion-toolbar-background: #ffffff;
  --ion-toolbar-color: #000000;
  --ion-item-color: #000000;
}

body.dark {
  --ion-background-color: #121212;
  --ion-text-color: #ffffff;
  --ion-toolbar-background: #1f1f1f;
  --ion-item-background: #1e1e1e;
  --ion-toolbar-color: #ffffff;
  --ion-item-color: #ffffff;
  --ion-border-color: rgba(255, 255, 255, 0.1);
  --ion-color-step-850: #fff;
  --ion-color-step-800: #e0e0e0;
  --ion-color-step-750: #d1d1d1;
  --ion-select-option-color: #ffffff;
  --ion-action-sheet-item-color: #ffffff;
}

/* Action Sheet styles for dark mode */
.dark ion-action-sheet {
  --button-color: #ffffff;
  --button-background: #1e1e1e;
}

/* Select styles for dark mode */
.dark ion-select-option {
  color: var(--ion-text-color);
  background: var(--ion-item-background);
}