.favorites {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1.5rem;
}

.favs-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-auto-rows: 100px; /* base size */
  gap: 10px;
}

.fav-card {
    background: lightcoral;
    border-radius: 12px;
}

.no-favs {
    position: absolute;
    margin: 0px;
    font-size: 1.5rem;
    color: gray;
    text-align: center;
    width: 100%;
}